[submodule "bundle/Kwbd.vim"]
	path = bundle/Kwbd.vim
	url = git://github.com/rgarver/Kwbd.vim.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-railscasts"]
	path = bundle/vim-railscasts
	url = git://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = git@github.com:SirVer/ultisnips.git
